.outer-container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 100px 1fr 3fr 1fr 100px; */
    height: 95vh;
    grid-template-rows: 100px 1fr 3fr 1fr 100px;
    grid-template-areas:
        "header"
        "ad"
        "menu"
        "main"
        "footer";
}

.header-cont {
    grid-area: header;
    background-color: rgb(92, 88, 83);
    }

.logo {
            max-width: 25%;
            background-color: rgb(92, 88, 83);
            text-align: left;
        }
.menu-cont {
    width: 200px;
    grid-area: menu;
    padding: 12px;
    /*grid grid-row-start: 5;*/
    text-align: right;
    color: black;
    display: block;
    background-color: rgb(122, 133, 133);
}

ul a {
    text-align: left;
    line-height: 2.0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    background-color: grey;


}

li {
    float: left;
    color: rgb(19, 17, 17);
}

li a {
    display: block;
    color: rgb(61, 18, 18);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
a:hover {
    background-color: rgb(182, 173, 173);
}

.main-cont {
    grid-area: main;
    background-color: rgb(121, 113, 103);
}

.ad-cont {
    grid-area: ad;
    background-color: rgb(168, 164, 163);
}

.footer-cont {
    grid-area: footer;
    background-color: rgb(192, 180, 150);
}

main {
    width: 70%;
    height: 30%;
    align-self: center;
}

.main-inner-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 576px) {
    .outer-container {
        grid-template-columns: 100px 2fr 100px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            "header header header"
            "menu main ad"
            "footer footer footer";
        background-color: rgb(117, 105, 105);
    }
}

@media (min-width: 992px) {
    .outer-container {
        grid-template-columns: 100px 2fr 100px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas:
            "header header header"
            "menu main ad"
            "footer footer ad";
        background-color: rgb(99, 92, 92); /* was --> rgb(192, 180, 150);*/
    }
}